html {
  margin:0;
  padding:0;
  overflow-x:hidden !important;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,h3,h4,h5,h6,a,p,ul{
  margin: 0;
  padding: 0;
}
a{
  transition: all 0.3s linear 0s;
}
p{
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #646464 !important;
}

button{
  transition: all 0.5s linear 0s;
  cursor: pointer;
}
button:focus{
  box-shadow: none;
  outline: none;
}
.container{
  max-width: 1200px !important;
}
.header {
  z-index: 2;
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100vw;
}
.navbar-brand h2{
  color: white;
}
.br-nav {
  padding: 10px 16px;
  background: transparent;
  color: #646464;
  font-weight: 500;
  z-index: 1;
  position: sticky;
  top: 0%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}
.br-nav .menu-icon ul li a::before{
  content: '';
    display: inline-block;
    height: 21px;
    width: 25px;
    background-size: 20px 20px;
    background-position: left center;
    background-repeat: no-repeat;
}
.br-nav .menu-icon ul li .menu-home::before{
  content: "";
  background-image: url(../img/menu-home.svg);
}
.br-nav .menu-icon ul li .menu-flight::before{
  content: "";
  background-image: url(../img/menu-airplane.svg);
}
.br-nav .menu-icon ul li .menu-holiday::before{
  content: "";
  background-image: url(../img/menu-beach.svg);
}
.br-nav .menu-icon ul li .menu-cab::before{
  content: "";
  background-image: url(../img/menu-taxi.svg);
}
.br-nav .menu-icon ul li .menu-hotel::before{
  content: "";
  background-image: url(../img/menu-hotel.svg);
}
.br-nav .menu-icon ul li .menu-visa::before{
  content: "";
  background-image: url(../img/menu-passport.svg);
}
.br-navmenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: white;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
}
.br-navmenu1{
  font-size: 14px;
}
.menu1{
  padding-left: 16.5%;
}

.br-navmenu li{
  margin: 0px 15px;
}
.br-navmenu1 li{
  margin: 0px 15px;
}
.br-navmenu li a{
  border-bottom: 1px solid transparent;
  padding: 25px 10px;
  padding-right: 20px;
}
.br-navmenu1 li a{
  padding-right: 10px;
  padding-top: 20px;
}
.bg-light{
  background-color: transparent !important;
  color: black;
}
.nav-link{
  color: white !important;
  
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 0rem;
  padding-left: 0rem;
}
.br-navmenu a:hover{
  border: none;
  border-bottom: 1px solid white;
}
.br-navmenu1 a:hover{
  border: none;
  opacity: 0.7;
}

.active{
  border-bottom: 1px solid white;
}
.navbar-collapse{
  flex-basis: auto;
}

.banner-slider .swiper-container {
  width: 100vw;
  height: 100vh;
}

.banner-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.banner-slider .swiper-slide img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}


/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 2px;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: black;
  background-color: white;
}

.search-tab{
  position: absolute;
  top: 250px;
  left: 10%;
  right: 10%;
  z-index: 3;
  width: auto;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:black;
  opacity: 0.7;
  color: white;
}

/* Create an active/current tablink class */
.tab .tablinks.active {
  background-color: black;
  opacity: 0.7;
  color: white;
}

/* Style the tab content */
.initial-active{
  display:block !important;
}
.search-active{
  display:block !important;
}
.tabcontent {
  display: none;
  padding: 12px 12px;
  border-top: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.btn-find{
  margin-top: 9px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(235, 0, 141, 1) , rgba(153, 102, 255, 1));
  opacity: 1 !important;
  color: white;
  border: none;
  padding: 9px 0px;
}
.flight-icon{
  background-image: url(../img/plane.svg);
  background-size: 25px;
  background-position: 4px 7px;
  background-repeat: no-repeat;
  padding-left: 34px;
}
.location-icon{
  background-image: url(../img/pin.svg);
  background-size: 20px;
  background-position: 4px 7px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
.hotel-icon{
  background-image: url(../img/hotel.svg);
  background-size: 25px;
  background-position: 4px 7px;
  background-repeat: no-repeat;
  padding-left: 34px;
}
.btn-dd{
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
  border: none;
  background-image: url(../img/down-arrow.svg);
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 20px;

}
.btn-dd:hover{
  opacity: 0.8;
}
.dropdown-menu{
  margin: 0px !important;
}

.tw-offer{
  margin: 100px 0px;
}



.bg-offer{
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 30px;
}
h1{
  font-weight: 600;
  font-size: 30px;
  color: #646464;
}
.all-offer-heading h1{
  margin-bottom: 50px;
  font-size: 40px;
}

.offer{
  overflow: hidden;
  
  background-color: transparent;
}

.offer button {
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  padding: 15px 30px;
}

.offer button:hover {
  opacity: 0.5;
}

/* Create an active/current tablink class */
.offer button.active {
  background-color: #ccc;
}

/* Style the tab content */
.offercontent {
  display: none;
  padding: 6px 0px;

  border-top: none;
}

.bg-blog{
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 30px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.offer-slider .swiper-container {
  width: 100%;
      height: 500px;
  background-color:black;
}

.offer-slider .swiper-slide{
  text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  
}
.offer-slider1 .swiper-container {
  width: 100%;
      height: 500px;
  background-color:black;
}

.offer-slider1 .swiper-slide{
  text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  
}

.holiday-slider .swiper-container {
  width: 100%;
      height: 500px !important;
  background-color:black;
}

.holiday-slider .swiper-slide{
  text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  
}

.more-slider .swiper-container {
  width: 100%;
      height: 500px !important;
  background-color:black;
}

.more-slider .swiper-slide{
  text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  
}
.offer-active{
  display: block !important;
}

.offer-hotel-sub .hotel-img{
  width: 200px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.all-offer{
  display: flex;
  justify-content: space-around;
}

.travel-heading{
  margin-bottom: 50px;
}

.blog-detail .card{
  width: 15rem;
    height: 15rem;
    overflow: hidden;
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
    border: none;
    padding-bottom: 20px !important;
}

.blog-detail .card-body{
  overflow: hidden;
}

.blog-slider{
  height: 250px;
  
}
.blog-detail .card-img-top{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.blog-detail .card-text{
  font-size: 16px;
  color: #646464;
  font-weight: 400;
}

.pd-main{
  overflow: hidden;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 0px 40px;
}
.pd-heading h1{
  font-size: 30px;
}
.pd-heading{
  margin: 50px 0px 50px 0px;
}

.pd-detail{
  margin: 0px 0px 50px 0px;
}
.tw-pd{
  margin-bottom: 100px;
}
.pd-detail .card-img-top{
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.btn-color{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  border: none;
  margin-top: 10px;
  border-radius: 30px;
  padding: 10px 20px;
}

.pd-detail .card{
  border: none;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  overflow: hidden;
  border-radius: 10px;
}

.pd-detail .card-title{
  font-weight: 600;
  color: #646464;
}

.pd-detail .card-text{
  font-weight: 400;
  color: #646464;
}

.offer-slide-detail .card-img{
  width: 100%;
    border-radius: 10px;
    overflow: hidden !important;
    height: 150px;
    object-fit: cover;
    margin: 15px 0px 0px 15px;
}

.offer-slide-detail .card-body{
  padding-left: 30px;
}

.offer-slide-detail .card{
  border: none;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  overflow: hidden;
  border-radius: 10px;
  margin: 10px 10px;
  text-align: left;
}
.offer-slide-detail {
  padding-top: 15px;
}

.offer-slide-detail .card-title{
  color: #646464;
  font-weight: 600;
  font-size: 18px;
}

.offer-slide-detail .card-text{
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.card-line{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  height: 2px;
  width: 50px;
  margin: 10px 0px 10px 0px;
}
.offer-slide-detail .btn{
  margin-top: 20px;
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.offer-tc{
  padding-left: 20px;
    margin-top: 26%;
    font-size: 14px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: 4px !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: 4px !important;
}

.swiper-button-next, .swiper-button-prev{
  height: 35px !important;
  width: 35px !important;
  background-position: center !important;
  background-size: 15px 20px !important;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  background-color: white;
  padding: 10px 10px 10px 10px !important;
    border-radius: 30px !important;
    overflow: hidden !important;
}


.alert-detail{
  margin-top: 100px;
  padding: 30px 30px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
}

.alert-detail .alert-img img{
  height: 40px;
  width: 40px; 
  margin-right: 15px;
}

.alert-detail .alert-title h3{
  font-size: 18px;
  color: #646464;
  font-weight: 600;
  background: -webkit-linear-gradient(right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alert-title{
  display: flex;
  justify-content:space-between;
}

.slider-alert .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: 90% !important;
}



.slider-alert .swiper-container {
  width: 100%;
  height: auto;
}

.slider-alert .swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff; 
}

.slider-alert .swiper-slide .alert-slider-text{
  width: 89%;
  font-size: 16px;
  font-weight: 300;
}

.mandate-main{
  margin-top: 100px;
  padding: 30px 30px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
}

.mandate-main .mandate-title{
  margin: 30px 0px 50px 0px;
}

.mandate-main .card{
  border: none;
  cursor: pointer;
  
  overflow: hidden;
  
  margin: 10px 20px 10px 0px;
}
.mandate-main .card-img-top{
  overflow: hidden;
  border-radius: 10px;
}

.mandate-main .card-title{
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.mandate-main .card-text{
  font-weight: 400;
  font-size: 15px;
  color: #646464;
}

.mandate-main .btn{
  margin-top: 20px;
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

footer{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  padding: 100px 0px 20px 0px;
  margin-top: 100px;
}

.tw-sign-up h1{
  color: white;
margin-bottom: 10px;
}

.tw-sign-up p{
  color: white !important;
  margin-bottom: 20px;
}

.tw-sign-up{
  text-align: center;
}

.sign-up-form .form-control{
  padding: 20px 20px 20px 20px;
  border: none;

}

.plane-design{
  background-image: url(../img/shape5.svg);
  background-repeat: no-repeat;
  background-size: 160px 200px;
}

.sign-up-form .btn{
  padding: 20px 25px 20px 25px;
  background-color: white;
  color: #646464;
  border: none;
}
.sign-up-form .btn:hover{
  opacity: 0.5;
}
.sign-up-form .sign-up-pp{
  color: white;
  text-decoration: underline;
}

.social-icon ul{
  text-decoration: none;
  list-style: none;
  display: flex;
  margin-top: 50px;
}
.social-icon ul li{
  margin-right: 10px;
}
.social-icon ul li img{
  height: 40px;
  width: 40px;
}
.social-icon ul li img:hover{
  opacity: 0.5;
}
.copyright{
  margin-top: 50px;
}

.tw-book-main{
  margin-bottom: 100px;
  padding: 30px 30px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
}

.book-slide-color1{
  background-image: linear-gradient(to right,#00B4DB,#0083B0);
}
.book-slide-color2{
  background-image: linear-gradient(to right,#00b09b,#96c93d);
}
.book-slide-color3{
  background-image: linear-gradient(to right,#FC5C7D,#6A82FB);
}
.book-slide-color4{
  background-image: linear-gradient(to right,#ff9966,#ff5e62);
}

.tw-book-main .book-slide img{
  height: 50px;
  width: 50px;
}

.tw-book-main .book-slide h3{
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 20px;
}

.tw-book-main .book-slide{
 align-items: center;
 text-align: center;
 margin: 20px 0px;
 padding: 20px;
 
}

.book-heading{
  margin: 20px 0px 40px 0px;
}

.pg-main{
  margin-bottom: 100px;
  padding: 30px 30px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
}
.pg-main1{
  margin-bottom: 50px !important;
  margin-top: 50px;
}
.pg-main1 .card-title1{
  font-size: 18px;
  color: #646464;
  text-align: center;
}

.pg-main .pg-heading{
  margin: 20px 0px 40px 0px;
}

.pg-main .card img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}
.pg-main .card:hover{
  opacity: 0.5;
  transition: 0.3s;
}

.pg-main .card{
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.3s;
}

.pg-main .card-body{
  padding: 25px 0px 0px 0px;
}

.pg-main .btn{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-left: 20px;
}



.flight-side-menu{
  margin-top: 20px;
}

.flight-accordion .card{
  border: none;
  border-radius: 0px !important;
}

.flight-accordion .card .slider{
  width: 100%;
  margin-top: 10px;
}

.flight-accordion .card-header{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  border: none;
  border-radius: 0px;
}
.flight-accordion .btn-reset{
  border: 1px solid white;
  border-radius: 30px;
  width: 100%;
  text-align: center;
}

.flight-accordion .btn-reset:hover{
  text-decoration: none;
}

.flight-accordion .card-header .btn{
  color: white;
}
.flight-side-menu .show-result{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  padding: 20px 30px 10px;
}
.flight-side-menu .show-result h5{
  color: white;
}

.flight-side-menu .show-result a {
  color: white !important;
}

.stop-detail h4{
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
}
.stop-detail{
  overflow: hidden !important;
}

.search-box-detail{
  width: 100%;
  margin-left: 15px;
}
.search {
  overflow: hidden;
  width: 100%;
}

/* Style the buttons inside the tab */
.search button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  border-bottom: 2px solid transparent;
}

/* Change background color of buttons on hover */
.search button:hover {
  border-bottom: 2px solid white;
}

/* Create an active/current tablink class */
.search button.active {
  border-bottom: 2px solid white;
}

/* Style the tab content */
.searchcontent {
  display: none;
  padding: 6px 12px;
 color: white;
  border-top: none;
}

.searchcontent .btn-find{
  background-color: black !important;
  background-image: none;
  color: white;
  
}

.searchcontent .btn-find:hover{
  opacity: 0.6 !important;
} 

.main-search-box{
  margin-top: 0px !important;
  margin-left: 0px !important;
}

.main-search-box .searchcontent{
  background-color: transparent !important;
  background-image: none !important;
}

.main-search-box .search{
  background-image: none;
  background-color: transparent;
}

.main-search-box .search button{
  border: 2px solid transparent;
  
}

.main-search-box .search button.active {
  border: 2px solid white;
}

.main-search-box .searchcontent .btn-find{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7)) !important;
 
  color: white;
  
}

.flight-route{
  border: 2px solid transparent;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.flight-route:hover{
  box-shadow: 0 1px 8px rgba(153, 102, 255, 0.7);
}

.flight-route .flight-name img{
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-right: 10px;
}
.flight-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flight-route .flight-time{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flight-route .flight-price{
  display: flex;
  align-items: center;
}
.flight-route .flight-price h2{
  font-size: 20px;
  color: #646464;
  font-weight: 500;
  margin-right: 10px;
}

.btn-continue{
  width: 100% !important;
  margin-bottom: 150px;
}

.btn-tw{
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7)) !important;
  color: white;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.btn-tw:active{
  box-shadow: none;
  border: none;
  text-decoration: none;
}

.flight-route-detail{
  margin-top: 10px;
  border-top: 1px solid #b3b1b1;
  padding-top: 10px;
}

.flight-route-detail a{
  font-size: 14px;
  font-weight: 400;
}

.no-meal{
  margin-right: 10px;
  background-image: url(../img/eid-mubarak.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 22px;
}

.flight-route-detail .ecase{
  border: 1px solid #b3b1b1;
  border-radius: 10px;
  font-size: 15px !important;
  display: flex;
  align-items: center;
  padding-left: 4px;
  
}

.flight-route-detail .ecase .ecase-rs{
  background-color: yellow;
  overflow: hidden !important;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 0px 4px;
}

.route-detail-main{
  box-shadow: 0 1px 8px rgba(153, 102, 255, 0.7);
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.slide-header{
  background-color: black;
  padding: 20px 10px;
  padding-right: 15px;
}

.slide-header h4{
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.flight-slide-open .flight-slide-open-img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 10px;
}

.flight-slide-open .flight-slide-open-img img{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.flight-slide-open-img p{
  font-size: 14px !important;
}

.flight-slide-open .flight-slide-open-facility-img img{
  height: 20px;
  width: 20px;
  
}
.flight-slide-open .flight-slide-open-facility-img{
  margin-right: 10px;
}

.flight-slide-open{
  padding-right: 17px;
}

.route-slide-detail{
  text-align: left;
}

.slide-line{
  background-color: #b3b1b1;
  width: 150px;
  height: 3px;
  margin: 15px 0px;
}
.route-slide-detail-line{
  text-align: center;
}

.route-baggage{
  width: 100%;
  padding: 10px 0px ;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  margin: 0px 10px;
}

.route-baggage1{
  width: 100%;
  padding: 10px 0px ;
  background-color: rgb(255, 241, 162);
  text-align: center;
  border-radius: 30px;
  margin: 0px 10px;
  margin-top: 20px;
}

.tabdetail {
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.tabdetail button {
  background-color: transparent;
  color: white;
  text-align: center;
  display: flex;
  border: none;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 16.5px 12px;
  transition: 0.3s;
  font-size: 16px;
  width: 100%;
  border-bottom: 2px solid transparent;
}

.tabdetail button:hover {
  border-bottom: 2px solid white;
}

.tabdetail button.active {
  border-bottom: 2px solid white;
}

.detailtabcontent::-webkit-scrollbar {
  width: 6px;
border-radius: 10px;}

.detailtabcontent {
  display: none;
  padding: 6px 12px;
  height: 500px !important;
  background-color: rgb(27, 27, 27);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  overflow-y: scroll;
  --scrollbarBG: transparent;
  --thumbBG: rgba(255, 255, 255, 0.3);
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.detailtabcontent::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.detailtabcontent::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.detailtabcontent1::-webkit-scrollbar {
  width: 6px;
border-radius: 10px;}

.detailtabcontent1 {
  display: none;
  padding: 6px 12px;
  height: 500px !important;
  background-color: rgb(27, 27, 27);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  overflow-y: scroll;
  --scrollbarBG: transparent;
  --thumbBG: rgba(255, 255, 255, 0.3);
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.detailtabcontent1::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.detailtabcontent1::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.detailtabcontent2::-webkit-scrollbar {
  width: 6px;
border-radius: 10px;}

.detailtabcontent2 {
  display: none;
  padding: 6px 12px;
  height: 500px !important;
  background-color: rgb(27, 27, 27);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  overflow-y: scroll;
  --scrollbarBG: transparent;
  --thumbBG: rgba(255, 255, 255, 0.3);
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.detailtabcontent2::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.detailtabcontent2::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.route-detail-main .col-sm-5{
  padding-right: 14px !important;
  padding-left: 0px !important;
}

.route-detail-main .col-sm-7{
  padding-right: 0px !important;
}

.route-summary{
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.route-summary p{
  color: white !important;
}

.summary-line{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.btn-book{
  height: 62px;
  background-color: rgb(27, 27, 27);
  position: absolute;
    bottom: 13px;
    width: 89%;
}
.btn-book .btn{
  background-color: white !important;
  border: none;
  border-radius: 30px;
  color: black;
  width: 100%;
  margin-top: 15px;
}

.btn-book:hover{
  opacity: 0.7;
}

.route-summary h6{
  margin: 15px 0px;
}

.route-rule p{
color: white !important;
font-size: 14px;
font-weight: 400;
margin-top: 15px;
}
.route-rule small{
  font-size: 12px;
}
.route-rule{
  display: flex;
  justify-content: space-between;
}

.rule-note{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.rule-note-detail{
  margin-top: 10px;
}

.rule-note2{
  margin-bottom: 30px;
}

.summary-btn-detail{
  height: 613px;
  background-color: rgb(27, 27, 27);
}

#flip{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
#flip1{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
#flip2{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
#flip3{
  cursor: pointer;
}


#panel3 {
  display: none;
}
#panel{
  display: none;
}
#panel1{
  display: none;
}
#panel2{
  display: none;
}
.flight-main-div header .navbar-brand h2{
  background: -webkit-linear-gradient(right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flight-main-div header .br-navmenu1 .nav-link{
  color: black !important;
}

.flight-main-div header .menu1{
  padding-left: 0 !important;
}

.flight-search-bg{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  margin-top: 70px;
}

.fast-detail{
  overflow: hidden;
  background-color: #f1f1f1;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.fast-detail button{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 100%;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}
.fast-detail button:hover {
  border-bottom: 2px solid blue;
}
.fast-detail button.active {
  border-bottom: 2px solid blue;
}
.fast-tabcontent {
  display: none;
  padding: 6px 0px;
  border-top: none;
}

.map-btn{
  background-image: url(../img/view-map.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  display: flex;
  align-items: center;
  height: 90px;
    width: 196px;
    margin-top: 20px;
}
.map-btn .btn{
  position: absolute;
  left: 32%;
}

.flight-detail-alert{
  box-shadow: 0 1px 8px rgba(153, 102, 255, 0.7);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 20px;
  align-items: center;
}

.flight-detail-alert img{
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.flight-detail-alert h6{
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

.flight-detail-alert h6 span{
  font-size: 18px;
  font-weight: 500;
  background: -webkit-linear-gradient(right, rgba(235, 0, 141) , rgba(153, 102, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.payment-detail{
  margin-top: 50px;
}

.payment-detail .card{
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
  overflow: hidden;
}
.payment-detail .card-header{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  border: none;
}
.payment-detail .card-header button{
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  
}
.payment-detail .card-body h4{
  width: 100%;
  background-color: #dfdfdf;
  font-size: 18px;
  color: #646464;
  font-weight: 500;
  padding: 20px 20px;
}

.payment-detail .card-body .radio{
  font-size: 16px;
  font-weight: 500;
  color: #646464;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.payment-detail .card-body form .form-group{
  font-size: 16px;
  font-weight: 500;
  color: #646464;
} 

.payment-detail .card-body .btn{
  float: right;
  margin: 20px 0px;
  display: flex;
  justify-content: end;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 22px;
}

.payment-addon img{
  height: 150px;
  width: auto;
  
}
.payment-addon .btn-add{
  margin: 0px !important;
  height: 50px;
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  background-color: transparent;
  border: none;
}

.payment-addon-main{
  margin: 20px;
  
}
.payment-addon .card-body{
  padding: 0px 20px;
}

.payment-addon ul{
  padding-left: 20px;
    margin-bottom: 10px;
}
.seat-select{
  display: flex;
  justify-content: start;
  overflow-x: scroll;
  align-items: center;
  margin-left: 40px;
  padding-left: 10px;
  background-image: url(../img/flight11.svg);
  background-position: center;
  background-size: 600px auto;
  background-repeat: no-repeat;
}
.seat-select ul li button{
border: none;
background-color: transparent;
font-weight: 400;
font-size: 18px;
height: 40px;
width: 40px;
text-align: center;
display: flex;
align-items: center;
}
.seat-select ul li button img{
  height: 30PX;
  width: 30PX;
}
.seat-select ul{
  list-style: none;
  text-align: center;
  align-items: center;
}
.seat-select ul li{
  margin-bottom: 10px;
}
html{
  --scrollbarseatBG: transparent;
  --thumbseatBG: #cfcfcf;
}
.seat-select::-webkit-scrollbar {
  width: 6px !important;
}
.seat-select {
  scrollbar-width: thin !important;
  scrollbar-color: var(--thumbseatBG) var(--scrollbarseatBG);
  padding-top: 32px;
}
.seat-select::-webkit-scrollbar-track {
  background: var(--scrollbarseatBG);
}
.seat-select::-webkit-scrollbar-thumb {
  background-color: var(--thumbseatBG) ;
  border-radius: 6px;
  
}
.seat-select-color{
  margin: 20px 0px;
  
}
.seat-select-num{
  position: absolute;
  left: 0%;
  z-index: 11111111111111111111111111;
  background-color: white;
  padding: 0px 0px 0px 22px;
}
.seat-select-color ul{
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
 border-bottom: 1px solid #b3b1b1;
 padding: 20px 10px;
 
}
.seat-select-color ul li img{
  height: 30px;
  width: 30px;
}
.seat-select-color ul li{
  margin-right: 20px;
  align-items: center;
}

.seat-select ul li button {
  position: relative;
  display: inline-block;
}
.seat-select ul li button .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: 400;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 11111111111111;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
}

.seat-select ul li button:hover .tooltiptext {
  visibility: visible;
}

.payment-option .nav a{
  color: #646464 !important;
  background-color: rgb(240, 240, 240) !important;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  border-radius: 0px !important;
  padding: 10px 10px;
}
.payment-option .nav .active{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  color: white !important;
  background-color: transparent !important;
}
.payment-option .option-detail{
  margin-top: 50px;
}
.btn-pay{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  background-color: transparent;
  border: none;
  color: white;
  padding: 0px 22px !important;
  height: 40px !important;
  align-items: center;
  
}
 .btn1{
  font-size: 25px !important;
  font-weight: 500 !important;
  color: #646464 !important;
  margin-right: 50px !important;
}
.payment-option .pay-note{
  font-size: 14px !important;
  margin-left: 18px;
  color: #646464;
  font-weight: 400;
}

.payment-option-upi img{
  height: 30px;
  width: auto;
  margin: 15px 0px;
}
.payment-option-upi p{
  margin-bottom: 10px;
}
.payment-option-upi form{
 text-align: center;
  align-items: center;
  display: flex;
  
}
.payment-option-upi form button{
  float: left !important;
}
.payment-option-net img{
  height: 40px;
  width: auto;
  margin-bottom: 20px;
  margin-left: 10px;
}
.payment-option-net .option-net{
  display: flex;
  justify-content: start;
  align-items: center;
}
.payment-option-net .option-net label{
  margin-right: 50px;
}
.payment-option-net a{
  color: #646464 !important;
  background-color: transparent !important;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  border-radius: 0px !important;
  padding: 10px 10px;
  font-size: 20px !important;
}


.option-net [type="radio"]:checked,
.option-net [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.option-net[type="radio"]:checked + label,
.option-net[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.option-net [type="radio"]:checked + label:before,
.option-net [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 12px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.option-net [type="radio"]:checked + label:after,
.option-net [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 15px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.option-net [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.option-net [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.payment-option-phonepe h5{
  margin-bottom: 20px;
}
.payment-option-phonepe .p-space{
  margin-bottom: 40px;
}
.payment-option-amazon h5{
  margin-bottom: 20px;
}
.payment-option-amazon ul{
  margin: 20px 20px;
  color: #646464;
}
.p-payfont{
  font-size: 16px !important;
  color: #646464 !important;
  margin-left: 14px;
  margin-top: 30px;
}

#collapseThree .btn-continue{
  margin-bottom: 20px !important;
}
.payment-fare{
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  margin-top: 50px;
  border-radius: 10px;
  padding: 10px;
}
.payment-fare h5{
 
  padding: 10px 10px 10px;
    background-color: transparent;
    background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea);
    margin: 0px 0px 10px 0px;
    color: white;
    border-radius: 5px;
}
.payment-fare p{
  margin-bottom: 10px;
}
.payment-fare .total-font p{
  font-size: 20px !important;
  color: white !important;
  font-weight: 600 !important;
  margin: 10px 0px;
}
.payment-fare .total-font{
  padding: 0px 10px;
    background-color: transparent;
    background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea);
    margin: 10px 0px;
    
    border-radius: 5px;
}
.payment-promo-code{
  margin-top: 60px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 10px;
}
.payment-promo-code .input-group{
  margin-top: 20px;
}

#map {
  height: 200px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  margin-top: 20px;
 }

#map1 {
  height: 500px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

 .hotel-detail-main{
  margin-top: 20px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
 }

 .hotel-detail{
   display: flex;
   justify-content: start;
 }
 .hotel-detail-main:hover{
    box-shadow: 0 1px 8px rgba(153, 102, 255, 0.7) !important;
 }
 .hotel-detail .checked {
  color: orange;
}
.hotel-detail .fa {
  font-size: 14px;
}
.hotel-detail .heading {
  font-size: 25px;
  font-weight: 500;
  color: #646464;
  margin-top: 10px;
}
.hotel-detail .heading1 {
  font-size: 16px;
  font-weight: 400;
  color: #9c9c9c;
}
.hotel-detail .heading2 {
  font-size: 14px;
  font-weight: 500;
  color: #646464;
}
.hotel-detail img{
  height: 100%;
    width: 240px;
  overflow: hidden;
  object-fit: cover;
}
.hotel-detail .hotel-detail-sub{
  padding: 20px 0px;
}
.hotel-detail .hotel-detail-sub h3{
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.hotel-detail .hotel-detail-sub ul{
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  color: #646464;
  display: flex;
}
.hotel-detail .hotel-detail-sub li{
  padding: 3px 0px;
  margin-right:10px ;
}
.hotel-detail .hotel-detail-sub li::before{
  content: '';
    display: inline-block;
    height: 20px;
    width: 25px;
    background-size: 20px 20px;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.hotel-detail .hotel-detail-sub .couple::before{
  content: "";
  background-image: url(../img/couple.svg);
}
.hotel-detail .hotel-detail-sub .wifi::before{
  content: "";
  background-image: url(../img/wifi1.svg);
}
.hotel-detail .hotel-detail-sub .parking::before{
  content: "";
  background-image: url(../img/car-parking.svg);
}
.hotel-detail .hotel-detail-sub .restaurant::before{
  content: "";
  background-image: url(../img/bf1.svg);
}
.hotel-detail .hotel-detail-sub{
  margin-left: 20px;
}
.hotel-detail .hotel-detail-sub small{
  color: #646464;
  font-weight: 400;
  cursor: pointer;
}
.hotel-detail .hotel-detail-sub p{
  font-size: 14px !important;
  font-weight: 500 !important;
  
}
.hotel-detail .hotel-detail-sub h6{
  margin: 10px 0px 0px 0px;
}

.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mb-10{
  margin-bottom: 10px;
}
.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}
.btn11{
  width: 200px;
  padding: 12px 0px;
  font-size: 18px;
  font-weight: 500;
}
.hotel-detail-listing-price{
  text-align: right !important;
  width: 220px;
  border-left: 1px solid #dfdfdf;
  margin-left: 20px;
  padding: 20px 0px;
}
.hotel-detail-listing-price1{
  width: 235px;
}
.hotel-detail-listing-price img{
  height: 50px;
  width: auto;
}
.hotel-detail-listing-price .btn{
  width: 150px;
  margin-top: 15px;
  background-color: transparent !important;
}

.radio-design{
  border: 2px dotted #0ac3fa;
  padding: 3px;
}
.checked{
  color: orange;
}

.hotel-pay-btn{
  margin-top: 10px;
  display: flex;
  background-color: rgba(230, 230, 230, 0.3);
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  color: #646464;
}
.hotel-detail-slider{
  height: 600px;
  width: 100%;
  margin-top: 20px;
}

.hotel-detail-slider .swiper-container {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.hotel-detail-slider .swiper-slide {
  background-size: cover;
  background-position: center;
}

.hotel-detail-slider .gallery-top {
  height: 80%;
  width: 100%;
}

.hotel-detail-slider .gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.hotel-detail-slider .gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}
.hotel-detail-slider .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.hotel-detail-slider-sub{
  margin-top:40px;
}
.hotel-detail-slider-sub h4{
  font-size: 22px;
  color: black;
  font-weight: 600;
}
.hotel-detail-slider-sub p{
  margin: 15px 0px;

}

.about-hotel h4{
  font-size: 22px;
  color: black;
  font-weight: 600;
  margin-top: 20px;
}
.about-hotel ul{
  margin-left: 19px;
}

.hotel-facility h4{
  margin-top: 50px;
  font-size: 22px;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}


.hotel-facility ul{
  list-style: none;
  
}
.hotel-facility li{
  margin-left: 10px;
}
.hotel-facility li:before{
  content: '';
    display: inline-block;
    height: 18px;
    width: 25px;
    background-image: url(../img/arrow.svg);
    background-size: 18px 18px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.hotel-detail-view .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }


  .hotel-detail-view{
    height: 500px;
    margin-top: 20px;
  }
.hotel-detail-view .swiper-slide {
  background-size: cover;
  background-position: center;

}
.hotel-detail-view .gallery-top {
  height: 80%;
  width: 100%;
}
.hotel-detail-view .gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.hotel-detail-view .gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.hotel-detail-view .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.hotel-review{
  margin-top: 100px;
}
.hotel-review h4{
  font-size: 25px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.hotel-review .hotel-review-rating{
  background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea);
  color: white;
  width: 250px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  margin-top: 20px;
}
.hotel-review .hotel-review-rating p{
  color: white !important;
  padding: 5px 0px;
}
.hotel-review .hotel-review-rating h2{
  font-size: 40px;
  font-weight: 500;
}
.hotel-review .hotel-review-rating .review-line{
  border: none;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  padding-left: 20px;
  
}
.hotel-review-sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.hotel-review-rating-row{
  width: 500px;
}
.hotel-review-rating-row .side {
  float: left;
  width: 15%;
  margin-top:10px;
}
.hotel-review-rating-row .middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.hotel-review-rating-row .right {
  text-align: right;
}

/* Clear floats after the columns */
.hotel-review-rating-row .row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.hotel-review-rating-row .bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
/* Individual bars */
.hotel-review-rating-row .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.hotel-review-rating-row .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.hotel-review-rating-row .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.hotel-review-rating-row .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.hotel-review-rating-row .bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}


.hotel-review-detail h3{
  font-size: 20px;
  font-weight: 600;
  background: -webkit-linear-gradient(right,#7491ff,#0ac3fa 48%,#4addea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hotel-review-detail{
  border: 2px solid #dfdfdf;
  padding: 20px;
  margin: 50px 0px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
}
.hotel-review-detail p{
  color: #bebcbc !important;
}
.hotel-review-detail .review-p{
  margin-top: 10px;
  color: rgba(68, 67, 67, 0.7) !important;
}
.hotel-review-detail .btn{
  background-color: white;
  border: 1px solid #0ac3fa;
  float: right;
  margin-top: -60px;
}

.hotel-detail-faq{
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  padding: 20px;
}
.hotel-detail-faq .hotel-faq{
  border-bottom: 1px solid #dfdfdf;
  padding: 20px 0px;
}
.hotel-detail-faq .hotel-faq h6{
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}
.hotel-detail-faq .remove-border{
  border: none !important;
}
.hotel-choose-room .choose-room-img{
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
}
.hotel-choose-room h6{
  margin: 0px 5px 10px 5px;
  font-size: 18px;
}
.hotel-choose-room ul{
  list-style: none;
  font-size: 15px;
  color: #646464;
}
.hotel-choose-room-main h4{
  margin-top: 50px;
  margin-bottom: 30px;
}

.hotel-choose-room{
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
}
.hotel-choose-room .choose-room-img img{
  height: 100%;
  width: 100%;
}
.hotel-choose-room .btn{
  width: 150px;
  float: right;
  background-color: transparent !important;
}
.hotel-choose-room .rs{
  font-size: 25px !important;
  font-weight: 600 !important;
  color: #646464 !important;
  margin: 0px 0px 10px 0px!important;
}
del{
  color: #646464;
}
.hotel-choose-room li{
  padding: 3px 0px;
}
.hotel-choose-room li::before{
  content: '';
    display: inline-block;
    height: 20px;
    width: 25px;
    background-size: 20px 20px;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.hotel-choose-room .choose-bed:before{
  content: '';
    background-image: url(../img/bed1.svg); 
}
.hotel-choose-room .choose-refund:before{
  content: '';
    background-image: url(../img/refund.svg); 
}
.hotel-choose-room .choose-wifi:before{
  content: '';
    background-image: url(../img/wifi1.svg); 
}
.hotel-choose-room .choose-room:before{
  content: '';
    background-image: url(../img/room-key.svg); 
}
.hotel-choose-room .choose-breakfast:before{
  content: '';
    background-image: url(../img/bf1.svg); 
}
.hotel-choose-room .choose-lunch:before{
  content: '';
    background-image: url(../img/bf2.svg); 
}

.hotel-detail-header-bg{
  margin-top: 30px;
  background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea);
  padding: 2px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1111111111111111111111111;
}

.hotel-detail-header ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
  transition: all 0.5s linear 0s;
  padding: 10px 10px;
}
.hotel-detail-header li{
cursor: pointer;
transition: all 0.5s linear 0s;
padding: 5px 10px;
border: 2px solid transparent;
}
.hotel-detail-header li a{
  text-decoration: none;
  color: white;
}
.hotel-detail-header li:hover{
  transition: all 0.5s linear 0s;
  border: 2px solid white;
}
#loadMore{
  text-align: right;
  margin: 0px 5px 40px;
}
#loadMore a{
  width: 130px;
  text-decoration: none;
}
.hotel-payment-main{
  margin-top: 100px;
}

.hotel-traveller-info-heading{
  background-image: linear-gradient(to right, rgba(235, 0, 141, 0.7) , rgba(153, 102, 255, 0.7));
  padding: 15px 15px;
  color: white;
  margin-bottom: 20px;
}
.hotel-payment-gst-form{
  display: flex;
  justify-content: start;
  background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea);
  padding: 20px 20px;
  color: white;
}
.hotel-payment-gst-form p{
  color: white !important;
}
.hotel-payment-gst-form img{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.hotel-payment-gst-form-d .btn{
  margin: 0px 15px;
  padding: 15px 0px;
  width: 150px;
  background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea) !important;
}
.mt-100{
  margin-top: 100px;
}
.hotel-payment-sub .payment-fare h5{
  background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea);
  color: white;
  border-radius: 5px;
}
.ml-20{
  margin-left: 20px;
}
.hotel-payment-sub .payment-fare .total-font{
  background-color: transparent;
}
.transfer-listing .flight-name img{
  height: auto;
  width: 235px;
  object-fit: contain;
}
.car-specification h4{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.car-specification ul{
  list-style: none;
  margin-top: 10px;
  display: flex;
  justify-content: start;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(223, 222, 222);
}
.car-specification ul li{
  color: #646464;
  margin-right: 20px;
}
.car-specification ul li::before{
  content: '';
    display: inline-block;
    height: 21px;
    width: 25px;
    background-size: 20px 20px;
    background-position: left center;
    background-repeat: no-repeat;
}
.car-specification ul .seat::before{
  content: "";
  background-image: url(../img/seat111.svg);
}
.car-specification ul .bag::before{
  content: "";
  background-image: url(../img/work.svg);
}
.car-specification ul .ac::before{
  content: "";
  background-image: url(../img/air-conditioner.svg);
}
.car-specification ul .mask::before{
  content: "";
  background-image: url(../img/face-mask.svg);
}
.car-specification ul .cab::before{
  content: "";
  background-image: url(../img/traffic.svg);
}
.car-specification ul .hand::before{
  content: "";
  background-image: url(../img/hand-sanitizer.svg);
}
.transfer-dis{
  display: flex;
  justify-content: end;
  margin-right: 5px;
}
.transfer-dis img{
  height: auto;
  width: 70px;
  margin-right: 10px;
}
.transfer-price{
  text-align: right;
  margin-right: 5px;
}
.transfer-price h2{
font-size: 22px;
font-weight: 600;
margin-bottom: 20px;
}
.transfer-price p{
  font-size: 18px !important;
}
.transfer-payment .flight-name img{
  height: auto;
  width: 235px;
}
.transfer-payment .flight-route{
  margin-bottom: 50px;
}
.transfer-payment .transfer-cab p{
  font-size: 22px !important;
}
.transfer-payment .transfer-cab small{
  font-size: 15px !important;
}
.transfer-payment .hotel-payment-gst-form{
  margin-bottom: 50px;
}
.cab-location i{
  color: #7a7a7a;
    margin-right: 15px;
    margin-top: 4px;
}
.cab-location{
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
}
.cab-location h5{
  background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea);
    color: white;
    border-radius: 5px;
    padding: 10px 10px 10px;
    background-color: lightgray;
    margin: 0px 0px 10px 0px;
}

.payment-footer{
  padding: 10px 0px 20px 0px !important;
}
.pay-color{
  color: white;
  background-color: black;
  text-align: center;
  align-items: center;
  margin: 10px 0px 50px 0px;
  padding: 20px;
  width: 33%;
}
.pay-color1{
  background-image: linear-gradient(to right,#00B4DB,#0083B0);
}
.pay-color2{
  background-image: linear-gradient(to right,#00b09b,#96c93d);
}
.pay-color3{
  background-image: linear-gradient(to right,#FC5C7D,#6A82FB);
}
.pay-color p{
  color: white !important;
}
.pay-color img{
  height: 50px;
  width: auto;
}

.holiday-listing-slider-main{
  height: 300px;
  width: 100%;
}

.holiday-listing-slider-main .swiper-container {
  width: 100%;
  height: 100%;

}

.holiday-listing-slider-main .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.hplan{
  margin-bottom: 100px;
}
.hplan .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.hplan .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.hplan .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.hplan .tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.hplan .hplancontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.hplan .hplan-sub-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.hplan .hplan-sub-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.hplan .hplan-sub-tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.hplan .hplan-sub-tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.hplan .sub-hplancontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}